---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import { siX, siInstagram, siGithub } from "simple-icons";

import logo from "../assets/logo.gif";
import line from "../assets/line.gif";
import yama from "../assets/icon/yama.gif";
import tsuri from "../assets/icon/tsuri.gif";
import tabi from "../assets/icon/tabi.gif";
import other from "../assets/icon/other.gif";
import link from "../assets/icon/link.gif";
import member from "../assets/icon/member.gif";
import qa from "../assets/icon/qa.gif";
import bear from "../assets/bear.gif";
import TitleLink from "../assets/title/title-link.jpg";
import TitleMember from "../assets/title/title-member.jpg";
import TitleOther from "../assets/title/title-other.jpg";
import TitleQa from "../assets/title/title-qa.jpg";
import TitleTabi from "../assets/title/title-tabi.jpg";
import TitleTsuri from "../assets/title/title-tsuri.jpg";
import TitleYama from "../assets/title/title-yama.jpg";

interface Props {
    title: string; // ページのタイトル
    description?: string; // ページの説明
    type: string; // ページの種類(タイトルバーの画像が切り替わる)
    breadcrumbs?: {
        // パンくずリスト(トップページと現在のページは不要)
        title: string;
        href?: string;
    }[];
    datePublished?: Date; // 記事の公開日
    dateModified?: Date; // 記事の更新日
    frontmatter?: {
        title: string;
        description?: string;
        type: string;
        breadcrumbs?: {
            title: string;
            href?: string;
        }[];
        datePublished?: Date;
        dateModified?: Date;
    };
}

const {
    title,
    description,
    type,
    breadcrumbs = [],
    datePublished,
    dateModified,
} = Astro.props.frontmatter || Astro.props;

const images: { [key: string]: ImageMetadata } = {
    リンク: TitleLink,
    部員紹介: TitleMember,
    その他の活動: TitleOther,
    よくある質問: TitleQa,
    旅行記: TitleTabi,
    釣果記録: TitleTsuri,
    山行記録: TitleYama,
};

const img = images[type] ?? images["yama"];
---

<BaseLayout
    title={title + " - 自然に親しむ会 | 東北大学"}
    description={description}
    breadcrumbs={[
        { title: "Top", href: "/" },
        ...breadcrumbs,
        { title: title },
    ]}
    rich_result={datePublished || dateModified
        ? [
              {
                  "@context": "https://schema.org",
                  "@type": "Article",
                  headline: title,
                  datePublished: datePublished?.toISOString() ?? undefined,
                  dateModified: dateModified?.toISOString() ?? undefined,
              },
          ]
        : []}
>
    <input
        type="checkbox"
        class="menu-btn-check"
        id="menu-btn-check"
        aria-hidden="true"
    />
    <nav class="menu">
        <h1>
            <a href="/">
                <Image
                    src={logo}
                    alt="東北大学-自然に親しむ会"
                    loading="eager"
                />
            </a>
        </h1>
        <p><Image src={line} alt="" loading="eager" /></p>
        <ul>
            <li>
                <a href="/yama/">
                    <Image src={yama} alt="山行記録" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/tsuri/">
                    <Image src={tsuri} alt="釣果記録" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/tabi/">
                    <Image src={tabi} alt="旅行記" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/other/">
                    <Image src={other} alt="その他の活動" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/link/">
                    <Image src={link} alt="リンク" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/member/">
                    <Image src={member} alt="部員紹介" loading="eager" />
                </a>
            </li>
            <li>
                <a href="/qa/">
                    <Image src={qa} alt="よくある質問" loading="eager" />
                </a>
            </li>
        </ul>
        <p><Image src={line} alt="" loading="eager" /></p>
        <div class="social_links">
            <a
                href="https://twitter.com/jishinkai"
                target="_blank"
                set:html={siX.svg}
                style={`fill: #${siX.hex}`}
            />
            <a
                href="https://www.instagram.com/jishinkai_tohoku"
                target="_blank"
                set:html={siInstagram.svg}
                style={`fill: #${siInstagram.hex}`}
            />
            <a
                href="https://github.com/jishinkai/jishinkaihp"
                target="_blank"
                set:html={siGithub.svg}
                style={`fill: #${siGithub.hex}`}
            />
        </div>
        <div class="bear"><Image src={bear} alt="" loading="eager" /></div>
    </nav>
    <header class="title">
        <label for="menu-btn-check" class="menu-btn"><span>メニュー</span></label>
        <slot name="title">
            <Image src={img} alt={type} loading="eager" />
        </slot>
    </header>
    <main class="content" transition:animate="slide">
        <nav class="breadcrumb" aria-label="breadcrumb">
            <ol>
                <li><a href="/">Top</a></li>
                {
                    breadcrumbs.map((item) => (
                        <li>
                            <a href={item.href}>{item.title}</a>
                        </li>
                    ))
                }
                <li aria-current="page">{title}</li>
            </ol>
            <hr />
        </nav>
        <slot />
        <script
            is:inline
            async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5743728348903460"
            crossorigin="anonymous"></script>
        <ins
            class="adsbygoogle"
            style="display:block"
            data-ad-format="fluid"
            data-ad-layout-key="-ga+3k+77-9q-4w"
            data-ad-client="ca-pub-5743728348903460"
            data-ad-slot="9490300334"></ins>
        <script is:inline>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </main>
</BaseLayout>

<style lang="scss">
    $nav-width: 280px;
    $header-width: 48px;

    body {
        display: grid;
        grid-template-columns: $nav-width $header-width 3fr;
        max-width: 1200px;
        border-left: 1px rgb(var(--on-background)) solid;
        border-right: 1px rgb(var(--on-background)) solid;

        nav.menu {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            grid-column: 1;
            border-right: 1px rgb(var(--on-background)) solid;
            text-align: center;
            position: sticky;
            top: 0;
            width: $nav-width;
            height: 100vh;
            overflow: hidden;
            transition: 0.5s;

            * {
                flex-grow: 0;
            }

            img {
                @media screen and (prefers-color-scheme: dark) {
                    filter: invert(0.8);
                }
            }

            h1 {
                width: 100%;
                display: block;

                a {
                    display: block;
                }
            }

            > p {
                margin: 1rem 0;
                padding: 0;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 200px;
                margin: 0 auto;
                padding: 0;
                li {
                    display: block;
                }
            }

            .social_links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;

                a {
                    display: block;
                    width: 2.5rem;
                    height: 2.5rem;
                    padding: 0.5rem;
                    border-radius: 50%;
                    background-color: white;
                    &:hover {
                        background-color: rgb(var(--on-background));
                    }

                    :global(svg) {
                        margin: auto;
                    }
                }
            }

            .bear {
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
            }
        }

        header.title {
            height: 100dvh;
            position: sticky;
            top: 0;
            border-right: 1px rgb(var(--on-background)) solid;
            overflow: hidden;

            .menu-btn {
                display: none;
                justify-content: center;
                align-items: center;
                flex-flow: column;
                row-gap: 5px;
                width: 100%;
                height: $header-width;
                background-color: white;
                cursor: pointer;

                span,
                &::before,
                &::after {
                    display: block;
                    content: "";
                    width: 30px;
                    height: 3px;
                    background-color: black;
                    transition: 0.3s;
                    position: relative;
                }
            }

            :global(img) {
                width: 100%;
                height: auto;
            }
        }

        .menu-btn-check {
            display: none;
        }

        .menu-btn-bg {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgb(var(--background));
            opacity: 0;
            transition: opacity 0.5s;
        }

        main.content {
            padding: 1rem;
            font-size: 0.8rem;
            transition: filter 0.5s;

            .breadcrumb {
                ol {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 0;
                    list-style: none;
                    margin: 0;
                    li {
                        display: inline;
                        &:not(:first-child)::before {
                            content: ">";
                            margin: 0 0.5em;
                        }
                    }
                }
            }

            :global(h2) {
                font-size: 1.2rem;
                border-bottom: 1px rgb(var(--on-background)) solid;
            }

            :global(p) {
                margin: 5px 0 0 2em;
                padding: 0px;
            }
        }

        #fc2_footer {
            grid-column: 1;
        }

        @media screen and (max-width: 1000px) {
            grid-template-columns: $header-width 1fr;
            nav.menu {
                position: fixed;
                left: -100%;
            }
            header.title {
                position: sticky;
                grid-column: 1;

                .menu-btn {
                    display: flex;
                }
            }

            .menu-btn-check:checked ~ {
                .menu-btn-bg {
                    width: 100%;
                }
                nav.menu {
                    left: $header-width;
                    background: rgb(var(--background) / 80%);
                }
                main {
                    filter: blur(3px);
                    z-index: -1;
                }

                header.title .menu-btn {
                    &::before {
                        transform: translateY(8px) rotate(45deg);
                    }
                    span {
                        transform: translateX(-200%);
                    }
                    &::after {
                        transform: translateY(-8px) rotate(-45deg);
                    }
                }
            }
        }
    }
</style>
